body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4f8ef7;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1{
    color: rgb(202, 202, 202);
    font-size: 2em;
}

h2{
    text-align: center;
}
.logo {
    height: 80px;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.stat-box {
    text-align: center;
}

.niveau-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.niveau-list li {
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 1000px;
}

.niveau-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.postit {
    position:relative;
    background: #fdf38e;
    padding: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.postit:hover {
    transform: scale(1.05);
    background: #e9d92e;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    width: 170px;
    z-index: 10;
    border-radius: 5px;
}

.submenu a {
    background-color: #a8e1fc;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.submenu a:hover {
    text-decoration: underline;
}

.postit:hover .submenu {
    display:block;
}

section h1,p{
    text-align: center;
}


#contact {
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

#h4, #h5 {
    text-align: center;
    background-color: #0776df;
    font-weight: bold;
}


#h4:link, #h5:link,
#h4:visited, #h5:visited {
  color: #ffffff;
  text-decoration: none;
}

#h4:hover, #h5:hover {
  color: #000000;
  text-decoration: underline;
}

#f1 {
    text-align: center;
    color: #fff;
    padding: 5px;
}

#f1:link,
#f1:visited{
    color: #ffffff;
    text-decoration: none;
}
#f1:hover {
    color: #4f8ef7;
    text-decoration: underline;
}